table.calendar {
    border-collapse: collapse;
}

table.calendar thead {
    background-color: #5A5A5A;
    color: white;
    margin-bottom: 6px;
    border-bottom: 2px solid white
}

table.calendar thead th {
    font-weight: normal;
    padding: 10px 3px;
}

table.calendar thead th.bolder {
    font-weight: bold;
}

table.calendar tbody {
    font-size: 0.9em;
}

table.calendar td {
    text-align: center;
    padding: 10px 4px;
    cursor: pointer;
    border: 1px solid rgba(185, 185, 185, 0.13);
    background-color: white;
    min-width: 3px;
}

table.calendar tr:last-child td {
    border-bottom: none;
}

table.calendar td.month-name {
    font-weight: bold;
    text-align: left;
    cursor: default;
    border-left: none;
}

table.calendar td.prev-month,
table.calendar td.next-month {
    color: transparent;
    cursor: default;
    pointer-events: none;
    background-color: #eee;
}

table.calendar td.week-separator {
    pointer-events: none;
    padding: 0;
    width: 8px;
    min-width: 0;
    background-color: #eee;
}

table.calendar td.bolder {
    font-weight: bold;
}

/* Single selected day */
table.calendar td.selected {
    background-color: purple;
    color: white;
    font-weight: bold;
}

/* Selected range */
table.calendar td.range {
    background-color: rgba(255,69,0, 0.7);
    font-weight: bold;
    color: white;
}

table.calendar td.range-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    background: orangered;
}

table.calendar td.range-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    background: orangered;
}

div.calendar-controls {
    margin: 5px auto;
    display: table;
    font-size: 25px;
    line-height: 35px;
    /*prevents ugly selection on double click*/
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div.calendar-controls div {
    display: inline;
}

div.calendar-controls .current-year {
    margin: 0 30px;
}

div.calendar-controls .control {
    font-weight: bolder;
    color: #323232;
    font-size: 0.8em;
    cursor: pointer;
}

div.calendar-controls .today {
    position: absolute;
    right: 25px;
    line-height: 35px;
    font-size: 0.6em;
    text-transform: uppercase;
}

table.calendar td.leave {
    background-color: rgba(249, 24, 8, 0.32);
}

table.calendar td.applied {
    background-color: rgba(249, 249, 13, 0.32);
}

table.calendar td.approved {
    background-color: rgba(23, 249, 12, 0.32);
}

table.calendar td.rejected {
    background-color: rgba(255, 10, 20, 0.64);
}